$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;

.nav-bar {
  display:flex;
  flex-direction: row;
  width: 100vw;
  background-color: $grain;
  height:85px;
  color: $blackboard;
  position:fixed;
  .logo{
    float:left;
    img {
      padding:10px;
      width:60px;
      height:auto;
      float:left;
      padding-left: 50px;
    }
    h1{
      font-family: relation-two, sans-serif;
      float:left;
      font-size:40px;
      padding-top:17px;
    }
  }
  nav{
    float:right;
    width:70vw;
    ul {
      padding-top:10px;
      padding-left: 13vw;
      li {
        list-style: none;
        float: left;
        padding: 10px 2vw;
        a{
        font-size: 30px;
        color: $blackboard;
        text-decoration:none;
        font-weight: normal;
        }
      }
    }
    .hamburger-menu {
      display:none;
    }
  }
}